.navbar {
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar-container {
    justify-content: space-between;
  }
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
}

@media (min-width: 768px) {
  .navbar-title {
    display: block;
  }
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #9ca3af;
}

.connect-button {
  background: linear-gradient(to right, #34d399, #3b82f6);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: none;
  display: none;
}

@media (min-width: 768px) {
  .connect-button {
    display: inline-block;
  }
}

.connect-button:hover {
  transform: scale(1.05);
}
